# Pandas for Data Analysis - Tutorial

Pandas is the essential library for data manipulation and analysis in Python.

## Learning Objectives
- Create and manipulate DataFrames and Series
- Load, clean, and transform data
- Perform grouping and aggregation
- Handle missing data
- Merge and join datasets

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
print(f"Pandas version: {pd.__version__}")

## 1. Creating DataFrames

DataFrames are 2D labeled data structures with columns of different types.

In [ ]:
# From dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'City': ['NYC', 'LA', 'Chicago', 'NYC'],
    'Salary': [70000, 85000, 90000, 75000]
}

df = pd.DataFrame(data)
print("DataFrame:")
df

In [ ]:
# Basic info
print(f"Shape: {df.shape}")
print(f"\nColumns: {list(df.columns)}")
print(f"\nData Types:")
print(df.dtypes)

In [ ]:
# DataFrame info and describe
print("Info:")
print(df.info())

print("\nStatistical Summary:")
df.describe()

## 2. Selecting Data

Multiple ways to access data in DataFrames.

In [ ]:
# Select columns
print("Single column (Series):")
print(df['Name'])

print("\nMultiple columns (DataFrame):")
df[['Name', 'Salary']]

In [ ]:
# Select rows
print("First 2 rows:")
print(df.head(2))

print("\nRows by index (iloc):")
print(df.iloc[1:3])

print("\nSpecific cell (iloc):")
print(df.iloc[0, 1])  # Row 0, Column 1

In [ ]:
# Conditional selection
print("Age > 27:")
df[df['Age'] > 27]

In [ ]:
# Multiple conditions
print("Age > 25 AND Salary > 75000:")
df[(df['Age'] > 25) & (df['Salary'] > 75000)]

## 3. Modifying Data

In [ ]:
# Add new column
df['Bonus'] = df['Salary'] * 0.1
df['Total'] = df['Salary'] + df['Bonus']
df

In [ ]:
# Apply function to column
df['Age_Group'] = df['Age'].apply(lambda x: 'Young' if x < 30 else 'Senior')
df

In [ ]:
# Drop columns
df_clean = df.drop(columns=['Bonus', 'Total'])
print("After dropping columns:")
df_clean

## 4. Handling Missing Data

Real-world data often has missing values.

In [ ]:
# Create data with missing values
data_missing = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, np.nan, 5],
    'C': [1, 2, 3, 4, 5]
}
df_missing = pd.DataFrame(data_missing)
print("Data with missing values:")
df_missing

In [ ]:
# Check for missing values
print("Missing value count:")
print(df_missing.isnull().sum())

print("\nTotal missing:", df_missing.isnull().sum().sum())

In [ ]:
# Fill missing values
print("Fill with 0:")
print(df_missing.fillna(0))

print("\nFill with mean:")
print(df_missing.fillna(df_missing.mean()))

print("\nForward fill:")
print(df_missing.ffill())

In [ ]:
# Drop missing values
print("Drop rows with any missing:")
print(df_missing.dropna())

print("\nDrop columns with any missing:")
print(df_missing.dropna(axis=1))

## 5. Grouping and Aggregation

Group data and compute statistics.

In [ ]:
# Create sample sales data
np.random.seed(42)
sales_data = {
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 20),
    'Product': np.random.choice(['A', 'B', 'C'], 20),
    'Sales': np.random.randint(100, 1000, 20),
    'Quantity': np.random.randint(1, 50, 20)
}
sales = pd.DataFrame(sales_data)
print("Sales data:")
sales.head(10)

In [ ]:
# Group by single column
print("Total sales by Region:")
sales.groupby('Region')['Sales'].sum()

In [ ]:
# Multiple aggregations
print("Statistics by Region:")
sales.groupby('Region')['Sales'].agg(['sum', 'mean', 'count', 'max'])

In [ ]:
# Group by multiple columns
print("Sales by Region and Product:")
sales.groupby(['Region', 'Product'])['Sales'].sum().unstack(fill_value=0)

In [ ]:
# Pivot tables
print("Pivot Table:")
pivot = sales.pivot_table(
    values='Sales',
    index='Region',
    columns='Product',
    aggfunc='sum',
    fill_value=0
)
pivot

## 6. Merging and Joining

Combine multiple DataFrames.

In [ ]:
# Create two DataFrames
employees = pd.DataFrame({
    'emp_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'dept_id': [101, 102, 101, 103]
})

departments = pd.DataFrame({
    'dept_id': [101, 102, 103],
    'dept_name': ['Engineering', 'Marketing', 'Sales']
})

print("Employees:")
print(employees)
print("\nDepartments:")
print(departments)

In [ ]:
# Merge (SQL-style join)
print("Inner join:")
merged = pd.merge(employees, departments, on='dept_id')
merged

In [ ]:
# Different join types
employees_extra = pd.DataFrame({
    'emp_id': [5],
    'name': ['Eve'],
    'dept_id': [104]  # Doesn't exist in departments
})

all_employees = pd.concat([employees, employees_extra])

print("Left join (keep all employees):")
pd.merge(all_employees, departments, on='dept_id', how='left')

In [ ]:
# Concatenate DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

print("Vertical concat:")
print(pd.concat([df1, df2], ignore_index=True))

print("\nHorizontal concat:")
print(pd.concat([df1, df2], axis=1))

## 7. Sorting and Ranking

In [ ]:
# Sort by values
print("Sort by Sales (descending):")
sales.sort_values('Sales', ascending=False).head()

In [ ]:
# Sort by multiple columns
print("Sort by Region, then Sales:")
sales.sort_values(['Region', 'Sales'], ascending=[True, False]).head(10)

In [ ]:
# Ranking
sales_copy = sales.copy()
sales_copy['Sales_Rank'] = sales_copy['Sales'].rank(ascending=False)
sales_copy.sort_values('Sales_Rank').head()

## 8. Practice Exercises

### Exercise 1: Find the top 3 products by total sales

In [ ]:
# Your code here

### Exercise 2: Calculate average sales per region, sorted descending

In [ ]:
# Your code here

### Exercise 3: Add a column showing what % of total sales each row represents

In [ ]:
# Your code here

---

<details>
<summary>Click to see solutions</summary>

```python
# Exercise 1 Solution
top_products = sales.groupby('Product')['Sales'].sum().sort_values(ascending=False).head(3)
print(top_products)

# Exercise 2 Solution
avg_by_region = sales.groupby('Region')['Sales'].mean().sort_values(ascending=False)
print(avg_by_region)

# Exercise 3 Solution
sales['Pct_of_Total'] = (sales['Sales'] / sales['Sales'].sum() * 100).round(2)
print(sales.head())
```
</details>

## Summary

You've learned:
- Creating and exploring DataFrames
- Selecting, filtering, and modifying data
- Handling missing values
- Grouping, aggregating, and pivot tables
- Merging, joining, and concatenating DataFrames
- Sorting and ranking data